<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topjet.manage.mapper.readMapper.CallCenterUserInfoModelEMapper" >
  <resultMap id="BaseResultMap" type="com.topjet.manage.domain.model.CallCenterUserInfoModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="sysUserId" property="sysUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, name, pwd, sysUserId
  </sql>


  <sql id="Criteria_where_clause">
    <where>
      <if test="account != null" >
        and account = #{account,jdbcType=VARCHAR}
      </if>
      <if test="name != null" >
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="pwd != null" >
        and pwd = #{pwd,jdbcType=VARCHAR}
      </if>
      <if test="sysUserId != null" >
        and sysUserId = #{sysUserId,jdbcType=INTEGER}
      </if>
    </where>
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from manageDB.callCenterUserInfo
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectListByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from manageDB.callCenterUserInfo
    <include refid="Criteria_where_clause" />
  </select>

</mapper>