<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topjet.manage.mapper.readMapper.UserAuditHistoryModelEMapper" >
  <resultMap id="BaseResultMap" type="com.topjet.manage.domain.model.UserAuditHistoryModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sourceType" property="sourceType" jdbcType="TINYINT" />
    <result column="sourceId" property="sourceId" jdbcType="INTEGER" />
    <result column="statusAfter" property="statusAfter" jdbcType="TINYINT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="createBy" property="createBy" jdbcType="INTEGER" />
    <result column="auditName" property="auditName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, sourceType, sourceId, statusAfter, createTime, createBy, auditName, remark, deleted
  </sql>

  <sql id="Criteria_where_clause">
    <where>
      <if test="id != null" >
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="sourceType != null" >
       and sourceType = #{sourceType,jdbcType=TINYINT}
      </if>
      <if test="sourceId != null" >
        and sourceId = #{sourceId,jdbcType=INTEGER}
      </if>
      <if test="statusAfter != null" >
        and statusAfter = #{statusAfter,jdbcType=TINYINT}
      </if>
      <if test="createTime != null" >
        and createTime = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null" >
        and createBy = #{createBy,jdbcType=INTEGER}
      </if>
      <if test="auditName != null" >
        and auditName = #{auditName,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="deleted != null" >
        and deleted = #{deleted,jdbcType=TINYINT}
      </if>
    </where>
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userAuditHistory
    where id = #{id,jdbcType=INTEGER}
  </select>



  <select id="selectListByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from userAuditHistory
    <include refid="Criteria_where_clause" />
  </select>


  <select id="listHistory" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from userAuditHistory
    <where>
      <if test="id != null" >
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="sourceType != null" >
        and sourceType = #{sourceType,jdbcType=TINYINT}
      </if>
      <if test="sourceId != null" >
        and sourceId = #{sourceId,jdbcType=INTEGER}
      </if>
      <if test="statusAfter != null" >
        and statusAfter in (${statusAfter})
      </if>
      <if test="createBy != null" >
        and createBy = #{createBy,jdbcType=INTEGER}
      </if>
      <if test="auditName != null" >
        and auditName = #{auditName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="selectListByEntity" resultMap="BaseResultMap" parameterType="com.topjet.manage.domain.model.UserAuditHistoryModel">
    select
    <include refid="Base_Column_List" />
    from userAuditHistory
    <include refid="Criteria_where_clause" />
  </select>

  <select id="getAuditHistoryRemark" resultMap="BaseResultMap" parameterType="com.topjet.manage.domain.model.UserAuditHistoryModel">
    select
    <include refid="Base_Column_List" />
    from userAuditHistory
    WHERE deleted = 0 and sourceType = #{sourceType} and sourceId = #{sourceId} and statusAfter =  #{statusAfter} GROUP BY id ORDER  by createTime DESC
  </select>

</mapper>