<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>交运配货网-后台管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="" rel="stylesheet">
  <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../../bootstrap/css/bootstrap-table.min.css" rel="stylesheet"/>
  <link href="../../css/flat-ui.min.css" rel="stylesheet"/>
  <link href="../../css/easyui.css" rel="stylesheet"/>
  <link href="../../css/demo.css" rel="stylesheet"/>
  <link href="../../css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../../css/jquery.mCustomScrollbar.css" rel="stylesheet"/>
  <link href="../../css/bootstrap-datetimepicker.css" rel="stylesheet"/>
  <link href="../../less/modules/buttons.less" rel="stylesheet"/>
  <link rel="shortcut icon" href="../../img/faviconindex.ico"/>
  <link href="../../bootstrap/formValidation/formValidation.css"/>

  <script src="../../resource/jquery-1.11.3.min.js"></script>
  <script src="../../js/common/utils.js"></script>
  <script src="../../js/bootbox.min.js"></script>
  <script type="text/javascript" src="../../bootstrap/formValidation/formValidation.js"></script>
  <script type="text/javascript" src="../../bootstrap/formValidation/bootstrap.js"></script>
  <script type="text/javascript" src="../../bootstrap/formValidation/validData.js"></script>
  <script src="../../js/vendor/jquery.easyui.min.js"></script>
  <script src="../../js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="../../js/flat-ui.min.js"></script>
  <script src="../../js/application.js"></script>
  <script src="../../js/bootstrap-datetimepicker.min.js"></script>
  <script src="../../js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
  <script src="../../js/echarts.min.js"></script>
  <script src="../../js/common/index.js"></script>
  <script src="../../js/common/ajaxCall.js"></script>
  <style>

    .formationBox{    margin: 10px auto 0;padding-right: 20px;background-color: #fafafa !important;}
    .formationBox li{width:100%;border-bottom:1px solid #f3f3f3;padding-bottom:10px;padding-top:10px;line-height: 15px;}
    .formationBox li p{font-size: 14px;line-height: 15px;margin-bottom:0;}
    .modal-footer{border-top:0px !important;}
  </style>
</head>
<body >
<div class="modal-body  fontsize-14">
  <form id="myForm">
    <div class="col-xs-6">
      <div class="form-group">
        <label>备注说明</label>
        <input type="text" id="remark" name="remark"  maxlength="50"   class="form-control input-sm"  placeholder="请补充说明"  required>
      </div>
    </div>
  </form>
</div>
<div class="clearfix"></div>
<div id="dataList" style="height: auto">

</div>
<div class="modal-footer margin-top-15">
  <button type="button" id="myButton" onclick="submit()" class="btn btn-primary center-block">　提　交　</button>
</div>
<script type="text/javascript">
    var param = window.location.search;
    var id = param.split("&")[0].split("=")[1];
    var version =param.split("&")[1].split("=")[1];
    var  flag = param.split("&")[2].split("=")[1];
    var  goodsId = param.split("&")[3].split("=")[1];
    if(id=='undefined'){
        id=null;
    }
    if(version=='null'){
        version=0;
    }
    $(function () {
        var url = getRootPath() + '/order/getOperationLog.do';
        $.ajax({
            type:"POST",
            contentType: "application/x-www-form-urlencoded;charset=utf-8",
            url:url,
            data:"sourceId="+id,
            success:function(dataList){
                var html ="<ul class='nav nav-tabs'><li role='presentation' class='active'><a href='#depart' data-toggle='tab'>操作日志</a></li></ul>"
                    +" <div class='tab-content' ><div id='depart' class='tab-pane active' style='height: 100%' role='tabpanel'><ul class=formationBox>";
                appendRecord (html,dataList);
            }
        });
    })

    function appendRecord(html,dataList) {
        var allRecordsHTML = html;
        var sourceType ='';
        if(dataList.length>0){
            for(var i=0;i<dataList.length;i++){
                if(dataList[i].statusAfter == 1){
                    sourceType ='订单冻结';
                }else if(dataList[i].statusAfter == 2){
                    sourceType ='订单解冻';
                }
                var recordHTML = '<li><p style="color:#FF0000">'+formatDates(dataList[i].createTime) +'</p>'
                    +'<p>'+dataList[i].auditName +'<span>:</span>'+sourceType
                    +'<span>&nbsp;&nbsp;&nbsp;备注</span>('+dataList[i].remark +')</li>'
                allRecordsHTML +=recordHTML;
            }
        }
        var endDiv = "</ul>"+" </div>"+"</div>";
        allRecordsHTML+=endDiv;
        //将数据拼接
        $('#dataList').empty();
        $("#dataList").append(allRecordsHTML);
    }

  function submit() {
      var bt = $('#myButton').button('loading');
      if (!$.topjectIsValidate('myForm')) {
          bt.button('reset');
          return;
      }
      var json = {
          'frozenRemark': $("#remark").val(),
          'id': id,
          'orderAffiliateVersion':version,
          'flag':flag,
          'goodsId':goodsId
      };
      var data = json;
      var url = getRootPath() + '/order/addOrUpdateOrder.do';
      $.ajaxDefaultCall(url, data, function () {
          window.parent.location.href = getRootPath() +'/view/orderInfo/orderList.html';


      });
  }
   $(function () {
        $.topjectValidate('myForm');
    })
</script>
</body>
</html>