<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>交运配货</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../../resource/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="../../css/demo.css">
    <link rel="stylesheet/less" type="text/css" href="../../less/modules/buttons.less">
    <link rel="stylesheet" type="text/css" href="../../js/jquery-ui-1.12.1/jquery-ui.min.css">

    <script type="text/javascript" src="../../js/common/modal.js"></script>
    <script type="text/javascript" src="../../js/common/utils.js"></script>
    <script type="text/javascript" src="../../js/common/ajaxCall.js"></script>
    <script type="text/javascript" src="../../js/common/dateformate.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap-table.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../../js/bootbox.min.js"></script>
    <script type="text/javascript" src="../../js/common/jquery.cityselect.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui-1.12.1/jquery-ui.min.js"></script>

</head>
<body onresize="auto()">
<input type="hidden" id="flag" value="0">
<div class="contentBox" style="padding:10px">
    <div class="fixed-table-toolbar">
        <div class="eachBox">
            <ul>
                <div id="location">
                    <li>
                        <label>所在地<font class="text-danger">*</font></label>
                        <select class="prov" id="address1" name="address1">
                            <option value="">请选择省</option>
                            <option value="1">……</option>
                        </select>
                    </li>
                    <li>
                        <select class="city" id="address2" name="address2">
                            <option value="">请选择市</option>
                            <option value="1">……</option>
                        </select>
                    </li>
                    <li>
                        <select class="dist" id="address3" name="address3">
                            <option value="">请选择区/县</option>
                            <option value="1">……</option>
                        </select>
                    </li>
                </div>
                <li>
                    <label>状态：</label>
                    <select id="status" name="status">
                        <option value="">不限</option>
                        <option value="1">空车</option>
                        <option value="2">重车</option>
                    </select>
                </li>
                <div class="line10"></div>
                <div id="resident">
                    <li>
                        <label>常跑城市<font class="text-danger">*</font></label>
                        <select id="resident1" name="resident1" class="prov">
                            <option value="">请选择省</option>
                        </select>
                    </li>
                    <li>
                        <select id="resident2" name="resident2" class="city">
                            <option value="">请选择市</option>
                        </select>
                    </li>
                </div>
                <li>
                    <label>所需车型</label>
                    <select name="TruckTypedisplayName" id="TruckTypedisplayName">
                        <option value="">请选择车型</option>
                    </select>
                </li>
                <li>
                    <label>车长</label>
                    <select name="truckLength" id="truckLength" >
                        <option value="">请选择车长</option>
                    </select>
                </li>
                <div class="line10"></div>
                <li>
                    <label for="updateTime">时隔时间</label>
                    <input type="date" name="updateTime"   id="updateTime" value=""  placeholder="输入时隔时间">
                </li>
            </ul>
            <div class="clearfix "></div>
        </div>
        <div class="columns columns-left btn-group pull-right">
            <button type="button" onclick="tableQuery()" class="btn btn-primary" style="margin-right:2mm;">查询</button>
        </div>
    </div>
    <table id='table' class="table table-striped table-bordered table-hover table-condensed"></table>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="callRemarkModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">联系标记</h4>
                </div>
                <form role="form" class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group" style="text-align: center;">
                            <label style="font-size: 22px;">联系备注</label>
                        </div>
                        <div class="form-group">
                            <textarea id="callRemarkId" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="javascript:callRemarkConfirm()" class="btn btn-primary">确认
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="dialog" title="联系记录" style="display: none;">
    <iframe border="0" width="99%" height="600" src="" id="iframe1" style="border:0;"></iframe>
</div>
<script type="text/javascript" src="../../js/common/truckType.js"></script>
<script type="text/javascript">
    $(function () {
//      toAtrTruckLength($("#TruckTypedisplayName").val());
        var columns = [
            /*{
                field: 'driverTruckid',
                align: 'center',
                title: '序号',
                sortable: true,
            },*/{
                field: 'userName',
                align: 'center',
                title: '车主姓名',
                formatter : function (value,row,index) {
                        return '<a  href="#" onclick="modifiedInfo(\''
                                + row.userId+ '\',\'司机位置查询\',\'' + row.reditRemark + '\')">'+value+'</a>';
                }
            },{
                field: 'mobile',
                align: 'center',
                title: '车主手机号',
                formatter : function (value,row,index) {
                    return '<a  href="#" onclick="modifiedInfo(\''
                        + row.userId+ '\',\'司机位置查询\',\'' + row.reditRemark + '\')">'+value+'</a>';
                }
            },{
                field: 'userType',
                title: '身份',
                align: 'center',
                formatter: function (value, row, index) {
                    if (value == 1) {
                        return "司机/车主";
                    }
                    if (value == 2) {
                        return "货主";
                    }
                    if (value == 3) {
                        return "信息部/配货部";
                    }
                    if (value == 4) {
                        return "物流公司";
                    }
                }
            },{
                field: 'detail',
                align: 'center',
                title: '最后位置'
            },{
                field: 'updateTime',
                title: '最后位置上传时间',
                align: 'center',
                formatter: function (value, row, index) {
                    return formatViewDate(new Date(value),"yyyy-MM-dd HH:mm");
                }
            },{
                field: 'plateNo',
                title: '车牌号',
                align: 'center',
                formatter: function (value, row, index) {
                    return row.plateNo1+row.plateNo2+row.plateNo3;
                }
            },{
                field: 'typeAndLength',
                title: '车型车长',
                align: 'center',
                formatter: function (value, row, index) {
                    if(row.truckTypeName==null){
                        row.truckTypeName="";
                    }
                    if(row.truckLength==null){
                        row.truckLength="";
                    }
                    return row.truckTypeName+"/"+row.truckLength;
                }
            },{
                field: 'resident2',
                title: '常跑城市',
                align: 'center',
                formatter: function (value, row, index) {
                    if(row.businessLine1==null){
                        row.businessLine1="";
                    }
                    if(row.businessLine2==null){
                        row.businessLine2="";
                    }
                    if(row.businessLine3==null){
                        row.businessLine3="";
                    }
                    return row.businessLine1+" "+row.businessLine2 +" "+row.businessLine3;
                }
            },{
                field: 'status',
                align: 'center',
                title: '状态',
                formatter: function (value, row, index) {
                    if(value == "1"){
                        return "空车"
                    }else if(value == "2"){
                        return "重车";
                    }
                }
            },{
                field: 'action',
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    var s = ['<button type="button" class="btn btn-primary btn-xs" onclick="callRemark(\'' + row.mobile + '\')" >联系标记</button>',
                    '<button type="button" class="btn btn-primary btn-xs" onclick="callLogQuery(\'' + row.mobile + '\')" >联系记录</button>' ].join(' ');
                    return s;
                }
            },
        ];
        $("#updateTime").val(getDate2());
        var url = getRootPath() + '/matchCenter/driverQueryList.do';
        setTableInfo('table', columns, url, getQueryParams, 'toolbar');
        $("#resident").citySelect({
            prov: '',
            city: ''
        });
        $("#location").citySelect({
            prov: '',
            city: '',
            dist: ''
        });
    });
    function getQueryParams() {
        var disPlayName = $('#TruckTypedisplayName option:selected').text();
        if(disPlayName=="请选择车型"||disPlayName=="不限"){
            disPlayName="";
        }
        var truckLength = $('#truckLength option:selected').text();
        if(truckLength=="请选择车长"||truckLength=="不限"){
           truckLength="";
        }
        var updateTime =  {};
        if($("#updateTime").val() != ""){
            updateTime = {"updateTime":StringToDate($("#updateTime").val())};
        }
        var json = {
            'address1': $('#address1').val(),
            'address2': $('#address2').val(),
            'address3': $('#address3').val(),
            'status': $('#status').val(),
            'resident1': $('#resident1').val(),
            'resident2': $('#resident2').val(),
            'truckType':disPlayName,
            'truckLength':truckLength
        };
        return $.extend({},json,updateTime);
    }


    function callLogQuery(ownerMobile) {
        mobile=ownerMobile;
        var url=getRootPath() + '/view/matchCenter/callLogOrderQuery.html?mobile=' + mobile;
        $("#iframe1").attr("src",url);
        $( "#dialog" ).dialog({
            width:800,minHeight:400
            ,position:{at: "center top+350",of: window}
        });
 //       window.location.href = url;
    }



    var mobile;
    function callRemark(ownerMobile) {
        mobile = ownerMobile;
        $("#callRemarkModal").modal('show');
    }
    ;

    function callRemarkConfirm() {
        var remark = $("#callRemarkId").val();
        $("#callRemarkId").val("");
        if (remark == "") {
            bootbox.alert({
                size: 'small',
                message: "备注不能为空",
            });
            return
        }
        $.ajax({
            type: 'post',
            url: getRootPath() + '/matchCenter/callLog.do',
            data: {
                mobile:mobile,
                remark: remark,
            },
            success: function (data) {
                $("#callRemarkModal").modal('hide');
                $tableDom.bootstrapTable('refresh');
            }
        });
    }

</script>
</body>
</html>