<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>交运配货</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../../resource/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="../../css/demo.css">
    <link rel="stylesheet/less" type="text/css" href="../../less/modules/buttons.less">

    <script type="text/javascript" src="../../js/common/modal.js"></script>
    <script type="text/javascript" src="../../js/common/utils.js"></script>
    <script type="text/javascript" src="../../js/common/ajaxCall.js"></script>
    <script type="text/javascript" src="../../js/common/dateformate.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap-table.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../../js/bootbox.min.js"></script>
    <script type="text/javascript" src="../../js/common/jquery.cityselect.js"></script>
</head>
<body onresize="auto()">
<input type="hidden" id="flag" value="0">
<input type="hidden" id="orderStatus" value="">
<div class="contentBox" style="padding:10px">
    <div class="fixed-table-toolbar">
        <div class="eachBox">
            <ul>
                <div id="depart">
                    <li>
                        <label for="userMobile">手机号：</label>
                        <input type="text" name="userMobile"   id="userMobile" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  placeholder="输入发布人手机号">
                    </li>
                    <li>
                        <label>身份选择：</label>
                        <select id="userType" name="userType">
                            <option value="">请选择</option>
                            <option value="1">司机/车主</option>
                            <option value="2" selected>货主</option>
                        </select>
                    </li>
                    <li>
                        <label>用户在</label>
                        <input type="text" width="80%" name="days" id="days" placeholder="请输入天数" onblur="if (this.value!='') {checkDays()}">
                    </li>
                    <li>

                        <label style="width: 100px"><font style="font-size: 13px">天内发布订单<     </font></label>
                        <input type="text" style="width: 200px;margin-left: 20px" name="amount" id="amount"  onblur="if (this.value!='') {checkAmount()}"  placeholder="请输入订单数">
                    </li>
                </div>
            </ul>
            <div class="clearfix "></div>
        </div>
        <div class="columns columns-left btn-group pull-right">
            <button type="button" onclick="tableQuery()" class="btn btn-info btn-sm">查询</button>
        </div>
    </div>
    <table id='table' class="table table-striped table-bordered table-hover table-condensed"></table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var columns = [
            {
                field: 'userName',
                align: 'center',
                title: '姓名',
                formatter : function (value,row,index) {
                    return '<a  href="#" onclick="modifiedInfo(\''
                        + row.userId+ '\',\'用户查询\',\'' + row.reditRemark + '\')">'+value+'</a>';
                }
            },{
                field: 'userMobile',
                align: 'center',
                title: '手机号',
                formatter : function (value,row,index) {
                    return '<a  href="#" onclick="modifiedInfo(\''
                        + row.userId+ '\',\'用户查询\',\'' + row.reditRemark + '\')">'+value+'</a>';
                }
            },{
                field: 'age',
                align: 'center',
                title: '年龄',
                sortable: true,
                formatter: function (value, row, index) {
                    if (value > 1000) {
                        return "0";
                    }
                    return value;
                }
            },{
                field: 'userType',
                title: '身份',
                align: 'center',
                formatter: function (value, row, index) {
                    if (value == 1) {
                        return "司机/车主";
                    }
                    if (value == 2) {
                        return "货主";
                    }
                }
            },{
                field: 'orderCount',
                title: '订单总数',
                align: 'center',
                sortable: true,
                formatter: function (value, row, index) {
                    return "<a>" + value + "</a>条";
                }
            },{
                field: 'pendingOrderCount',
                title: '待成交订单数',
                align: 'center',
                sortable: true,
                formatter: function (value, row, index) {
                    return "<a>" + value + "</a>条";
                }
            },{
                field: 'completedOrderCount',
                title: '已成交订单',
                align: 'center',
                sortable: true,
                formatter: function (value, row, index) {
                    return "<a>" + value + "</a>条";
                }
            },{
                field: 'acceptedOrderCount',
                title: '已承运订单数',
                align: 'center',
                sortable: true,
                formatter: function (value, row, index) {
                    return "<a>" + value + "</a>条";
                }
            },{
                field: 'carrierOrderCount',
                title: '承运中订单数',
                align: 'center',
                sortable: true,
                formatter: function (value, row, index) {
                    return "<a>" + value + "</a>条";
                }
            },{
                field: 'revokeOrderCount',
                title: '撤销货源数',
                align: 'center',
                sortable: true,
                formatter: function (value, row, index) {
                    return "<a>" + value + "</a>条";
                }
            },{
                field: 'falseOrderCount',
                title: '虚假货源数',
                align: 'center',
                sortable: true,
                formatter: function (value, row, index) {
                    return "<a>" + value + "</a>条";
                }
            },
        ];
        var url = getRootPath() + '/orderInfo/userQueryList.do';
        setTableInfo('table', columns, url, getQueryParams, 'toolbar');
    });

    function getQueryParams() {
        var json = {
            'userMobile': $('#userMobile').val(),
            'userType': $('#userType').val(),
            'days': $('#days').val(),
            'amount': $('#amount').val(),
        };
        return $.extend({},json);
    };

    function checkDays() {

        var days =$('#days').val();
//        var amount =$('#amount').val();
//        if(amount ==''){
//            return "";
//        }
        var reg = new RegExp("^[0-9]*[1-9][0-9]*$");
        if(reg.test(days) && (days >= 1) && (days<= 31)){
            return true;
        }else{
            bootbox.alert({
                size : 'small',
                message :"只能输入1-31之间的整数",
            });
            $("#days").val("");
        }
    }

    function checkAmount() {
        var amount =$('#amount').val();
        var reg = new RegExp("^[0-9]*[1-9][0-9]*$");
        if(reg.test(amount) && (amount >= 0) && (amount<= 100)){
            return true;
        }else{
            bootbox.alert({
                size : 'small',
                message :"只能输入1-100之间的整数",
            });
            $("#amount").val("");
        }
    }

</script>
</body>
</html>