<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topjet.manage.mapper.writeMapper.SysMenuModelMapper" >
  <resultMap id="BaseResultMap" type="com.topjet.manage.domain.model.SysMenuModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parentId" property="parentId" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="rank" property="rank" jdbcType="TINYINT" />
    <result column="actions" property="actions" jdbcType="VARCHAR" />
    <result column="createBy" property="createBy" jdbcType="INTEGER" />
    <result column="updateBy" property="updateBy" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="SMALLINT" />
    <result column="cssStyle" property="cssStyle" jdbcType="VARCHAR" />
  </resultMap>


  <!-- 扩展字段 -->
  <resultMap id="ExtResultMap" extends="BaseResultMap" type="com.topjet.manage.domain.bean.SysMenuBean" >
    <result column="subCount" property="subCount"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, url, parentId, deleted, createTime, updateTime, rank, actions, createBy, 
    updateBy, version, cssStyle
  </sql>

  <!-- sysMenu table all fields -->
  <sql id="Base_Column_List1" >
    id,name,url,parentId,deleted,createTime,updateTime,rank,actions
  </sql>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sysMenu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.topjet.manage.domain.model.SysMenuModel" >
    insert into sysMenu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="parentId != null" >
        parentId,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="actions != null" >
        actions,
      </if>
      <if test="createBy != null" >
        createBy,
      </if>
      <if test="updateBy != null" >
        updateBy,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="cssStyle != null" >
        cssStyle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=TINYINT},
      </if>
      <if test="actions != null" >
        #{actions,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=SMALLINT},
      </if>
      <if test="cssStyle != null" >
        #{cssStyle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.topjet.manage.domain.model.SysMenuModel" >
    update sysMenu
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parentId = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=TINYINT},
      </if>
      <if test="actions != null" >
        actions = #{actions,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        createBy = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        updateBy = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=SMALLINT},
      </if>
      <if test="cssStyle != null" >
        cssStyle = #{cssStyle,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>