<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topjet.manage.mapper.writeMapper.SysUserModelMapper" >
  <resultMap id="BaseResultMap" type="com.topjet.manage.domain.model.SysUserModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="loginCount" property="loginCount" jdbcType="SMALLINT" />
    <result column="loginTime" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="createBy" property="createBy" jdbcType="INTEGER" />
    <result column="updateBy" property="updateBy" jdbcType="INTEGER" />
    <result column="superAdmin" property="superAdmin" jdbcType="TINYINT" />
    <result column="version" property="version" jdbcType="SMALLINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, email, pwd, nickName, state, loginCount, loginTime, deleted, createTime, updateTime, 
    createBy, updateBy, superAdmin, version
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sysUser
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sysUser
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.topjet.manage.domain.model.SysUserModel" >
    insert into sysUser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="nickName != null" >
        nickName,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="loginCount != null" >
        loginCount,
      </if>
      <if test="loginTime != null" >
        loginTime,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="createBy != null" >
        createBy,
      </if>
      <if test="updateBy != null" >
        updateBy,
      </if>
      <if test="superAdmin != null" >
        superAdmin,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="loginCount != null" >
        #{loginCount,jdbcType=SMALLINT},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="superAdmin != null" >
        #{superAdmin,jdbcType=TINYINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>


  <update id="update" parameterType="com.topjet.manage.domain.model.SysUserModel" >
    update sysUser
    <set >
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nickName = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="loginCount != null" >
        loginCount = #{loginCount,jdbcType=SMALLINT},
      </if>
      <if test="loginTime != null" >
        loginTime = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        createBy = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        updateBy = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="superAdmin != null" >
        superAdmin = #{superAdmin,jdbcType=TINYINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>