<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topjet.manage.mapper.writeMapper.SysUserRoleRelModelMapper" >
  <resultMap id="BaseResultMap" type="com.topjet.manage.domain.model.SysUserRoleRelModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleId" property="roleId" jdbcType="INTEGER" />
    <result column="sysUserId" property="sysUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roleId, sysUserId
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sysUserRoleRel
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.Integer" >
    delete from sysUserRoleRel
    where sysUserId = #{sysUserId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.topjet.manage.domain.model.SysUserRoleRelModel" >
    insert into sysUserRoleRel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        roleId,
      </if>
      <if test="sysUserId != null" >
        sysUserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="update" parameterType="com.topjet.manage.domain.model.SysUserRoleRelModel" >
    update sysUserRoleRel
    <set >
      <if test="roleId != null" >
        roleId = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="sysUserId != null" >
        sysUserId = #{sysUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.topjet.manage.domain.model.SysUserRoleRelModel" >
    update sysUserRoleRel
    set roleId = #{roleId,jdbcType=INTEGER},
      sysUserId = #{sysUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectListByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from sysUserRoleRel
    <where>
      <if test="roleId != null" >
        and roleId = #{roleId,jdbcType=INTEGER}
      </if>
      <if test="sysUserId != null" >
        and sysUserId = #{sysUserId,jdbcType=INTEGER}
      </if>
      <if test="id != null" >
        and id = #{id,jdbcType=INTEGER}
      </if>
    </where>
  </select>


</mapper>