<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topjet.manage.mapper.writeMapper.TaskBucketInfoModelMapper" >
  <resultMap id="BaseResultMap" type="com.topjet.manage.domain.model.TaskBucketInfoModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="taskCount" property="taskCount" jdbcType="INTEGER" />
    <result column="sysUserId" property="sysUserId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="invalid" property="invalid" jdbcType="BIT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="createBy" property="createBy" jdbcType="INTEGER" />
    <result column="updateBy" property="updateBy" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="SMALLINT" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, type, taskCount, sysUserId, name, invalid, createTime, updateTime, createBy, 
    updateBy, version, deleted
  </sql>


  <sql id="Base_Column_where">
      where deleted = 0
      <if test="type != null and type != ''" >
        and type = #{type}
      </if>
      <if test="name != null and name != ''" >
        and name = #{name}
      </if>
  </sql>

  <sql id="Base_Column_whered">
    where deleted = 0
    <if test="type != null and type != ''" >
      and type = #{type}
    </if>
    <if test="sysUserId != null and sysUserId != ''" >
      and sysUserId = #{sysUserId}
    </if>
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from taskBucketInfo
    where id = #{id,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from taskBucketInfo
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insert" parameterType="com.topjet.manage.domain.model.TaskBucketInfoModel" >
    insert into taskBucketInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="taskCount != null" >
        taskCount,
      </if>
      <if test="sysUserId != null" >
        sysUserId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="invalid != null" >
        invalid,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="createBy != null" >
        createBy,
      </if>
      <if test="updateBy != null" >
        updateBy,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="taskCount != null" >
        #{taskCount,jdbcType=INTEGER},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="invalid != null" >
        #{invalid,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=SMALLINT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.topjet.manage.domain.model.TaskBucketInfoModel" >
    update taskBucketInfo
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="taskCount != null" >
        taskCount = #{taskCount,jdbcType=INTEGER},
      </if>
      <if test="sysUserId != null" >
        sysUserId = #{sysUserId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="invalid != null" >
        invalid = #{invalid,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        createBy = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        updateBy = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=SMALLINT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>