<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>交运配货网-后台管理</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="" rel="stylesheet">
	<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../../bootstrap/css/bootstrap-table.min.css" rel="stylesheet"/>
	<link href="../../css/flat-ui.min.css" rel="stylesheet"/>
	<link href="../../css/easyui.css" rel="stylesheet"/>
	<link href="../../css/demo.css" rel="stylesheet"/>
	<link href="../../css/font-awesome.min.css" rel="stylesheet"/>
	<link href="../../css/jquery.mCustomScrollbar.css" rel="stylesheet"/>
	<link href="../../css/bootstrap-datetimepicker.css" rel="stylesheet"/>
	<link href="../../less/modules/buttons.less" rel="stylesheet"/>
	<link rel="shortcut icon" href="../../img/faviconindex.ico"/>
	<link href="../../bootstrap/formValidation/formValidation.css"/>

	<script src="../../resource/jquery-1.11.3.min.js"></script>
	<script src="../../js/common/utils.js"></script>
	<script src="../../js/bootbox.min.js"></script>
	<script type="text/javascript" src="../../bootstrap/formValidation/formValidation.js"></script>
	<script type="text/javascript" src="../../bootstrap/formValidation/bootstrap.js"></script>
	<script type="text/javascript" src="../../bootstrap/formValidation/validData.js"></script>
	<script src="../../js/vendor/jquery.easyui.min.js"></script>
	<script src="../../js/jquery.mCustomScrollbar.concat.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../js/flat-ui.min.js"></script>
	<script src="../../js/application.js"></script>
	<script src="../../js/bootstrap-datetimepicker.min.js"></script>
	<script src="../../js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="../../js/echarts.min.js"></script>
	<script src="../../js/common/index.js"></script>
	<script src="../../js/common/ajaxCall.js"></script>

</head>
<style>
	.checkbox input{
		position: absolute;
		margin-top: 6px;
	}
	.checkbox-inline{
		padding-left: 0 !important;
	}
</style>
<body >
<!--<input type="hidden" id="type" value="">-->
<div class="fixed-table-toolbar">
	<div class="navmenu"><a href="list.html">维护公告管理</a> / 新增公告</div>
</div>
<div class="modal-body  fontsize-14">
	<form id="myForm">
	<div class="col-xs-6">
		<div class="form-group">
			<label>公告标题</label>
			<input type="text" name="title" id="title" maxlength="20"  required onchange="this.value=this.value.substring(0, 20)"  onkeyup="this.value=this.value.substring(0, 20)" class="form-control input-sm" placeholder="标题文字不能超过32字符">
		</div>
	</div>
	<div class="col-xs-6">
		<div class="form-group">
			<label>是否开启</label>
			<select id="valid" name="valid" data-toggle="select" class="form-control select select-default select-sm">
				<option value="0">关闭</option>
				<option value="1">开启</option>
			</select>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="form-group">
			<label>开始日期</label>
			<input type="text" name="startTime" id="startTime" class="form-control input-sm"  required  placeholder="不能小于当前时间"><!--不能小于当前时间不能开启-->
		</div>
	</div>
	<div class="col-xs-6">
		<div class="form-group">
			<label>结束日期</label>
			<input type="text" name="endDate" id="endDate"  class="form-control input-sm"  required placeholder="不能小于当前时间"><!--不能小于当前时间不能开启-->
		</div>
	</div>
	<div class="col-xs-12">
		<div class="form-group">
			<label>文本内容</label>
			<textarea class="form-control" id="text"  name="text" rows="3"   cols="50" required  placeholder="显示的内容"></textarea>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="form-group">
			<label>备注（维护原因）</label>
			<textarea class="form-control" id="remark"  name="remark" rows="3"   cols="50" required  placeholder="相关描述"></textarea>
		</div>
	</div>
<!--	<div class="col-xs-12">
		<div class="form-group">
			<label>推送范围</label>
			<div class="checkbox checkbox-inline">
				<input id="IOSOwnerFlag" value="4" type="checkbox">
				<label for="IOSOwnerFlag" style="padding-right: 10px;">IOS发货版</label>
				<input id="IOSDriverFlag" value="3"   type="checkbox">
				<label for="IOSDriverFlag" style="padding-right: 10px;">IOS接货版</label>
				<input id="AndiorOwnerFlag" value="2"   type="checkbox">
				<label for="AndiorOwnerFlag" style="padding-right: 10px;">Android发货版</label>
				<input id="AndiorDriverFlag" value="1"   type="checkbox">
				<label for="AndiorDriverFlag">Android接货版</label>
			</div>
		</div>
	</div>-->
	</form>
</div>
<div class="clearfix"></div>
<div class="modal-footer margin-top-15">
	<button type="button" class="btn btn-primary center-block" id="myButton" onclick="tijiao()">　提　交　</button>
</div>
<script type="text/javascript">
	//时间插件
    $("#startTime,#endDate").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        todayBtn: true,
        autoclose: true,
        todayHighlight: true,
        showMeridian: true,
        pickerPosition: "bottom-left",
        language: 'zh-CN',//中文，需要引用zh-CN.js包
        startView: 2,//月视图
        minView: 0//日期时间选择器所能够提供的最精确的时间选择视图
    });
/*	var param = window.location.search;
	var appType = param.split("=")[1];
	if(appType == 4){
		$("#IOSOwnerFlag").attr("checked","checked");
	}else if(appType == 3){
		$("#IOSDriverFlag").attr("checked","checked");
	}else if(appType == 2){
		$("#AndiorOwnerFlag").attr("checked","checked");
	}else if(appType == 1){
		$("#AndiorDriverFlag").attr("checked","true");
	}*/

    function tijiao(){
		var bt=$('#myButton').button('loading');
		/*var typeFlag = ""
		$.each($('.checkbox-inline input'),function(indx,ele){
			if($(this).is(":checked")){
				typeFlag += $(this).val();
			}
		})
		if(typeFlag == ""){
			bootbox.alert({
				size: 'small',
				message: "请选择推送范围!"
			});
			bt.button('reset');
			return;
		}*/
		if(!$.topjectIsValidate('myForm')){
			bt.button('reset');
			return;
		}
		var startTime = StringToDate($('#startTime').val());
		var endDate = StringToDate($('#endDate').val());
		if(endDate<=startTime){
			bootbox.alert({
				size : 'small',
				message :"结束日期不能小于开始日期!",
			});
			bt.button('reset');
			return false;
		}
		var json = {
			"startTime": StringToDate($('#startTime').val()),
			"endTime": StringToDate($('#endDate').val()),
			/*'typeFlag' : typeFlag,*/
			'text': $('#text').val(),
			'remark': $('#remark').val(),
			'title': $('#title').val(),
			'valid': $('#valid').val()
		};
		var url = getRootPath()+'/maintenance/addMaintenance.do';
		$.ajaxDefaultCall(url,json,function () {
            window.history.back();
		});
	}
	$(function (){
		$.topjectValidate('myForm');
	})

</script>
</body>
</html>