<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        overflow-x: hidden;
        height: 566px;
        width: 318px;
        border: 1px solid #ddd;
    }
    img{
        width: 100%!important;
    }
</style>

<body id='uu'>
</body>

</html>