<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>交运配货网-后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="" rel="stylesheet">
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../bootstrap/css/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="../../css/flat-ui.min.css" rel="stylesheet"/>
    <link href="../../css/easyui.css" rel="stylesheet"/>
    <link href="../../css/demo.css" rel="stylesheet"/>
    <link href="../../css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../../css/jquery.mCustomScrollbar.css" rel="stylesheet"/>
    <link href="../../css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <link href="../../less/modules/buttons.less" rel="stylesheet"/>
    <link rel="shortcut icon" href="../../img/faviconindex.ico"/>
    <link href="../../bootstrap/formValidation/formValidation.css"/>

    <script src="../../resource/jquery-1.11.3.min.js"></script>
    <script src="../../js/common/utils.js"></script>
    <script src="../../js/bootbox.min.js"></script>
    <script type="text/javascript" src="../../bootstrap/formValidation/formValidation.js"></script>
    <script type="text/javascript" src="../../bootstrap/formValidation/bootstrap.js"></script>
    <script type="text/javascript" src="../../bootstrap/formValidation/validData.js"></script>
    <script src="../../js/vendor/jquery.easyui.min.js"></script>
    <script src="../../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../js/flat-ui.min.js"></script>
    <script src="../../js/application.js"></script>
    <script src="../../js/bootstrap-datetimepicker.min.js"></script>
    <script src="../../js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../../js/echarts.min.js"></script>
    <script src="../../js/common/index.js"></script>
    <script src="../../js/common/ajaxCall.js"></script>
    <link href="../../umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../../umeditor/third-party/template.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../umeditor/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../umeditor/umeditor.min.js"></script>
    <script type="text/javascript" src="../../umeditor/lang/zh-cn/zh-cn.js"></script>

</head>
<style>
    h1{
        font-family: "微软雅黑";
        font-weight: normal;
    }
</style>
<body onresize="auto()">
<form id="myForm">
    <div class="contentBox" style="padding:10px">
        <input type="hidden" id="version" value="">
        <input type="hidden" id="icon" name="icon">
        <div class="fixed-table-toolbar">
            <div class="navmenu"><a href="#" onclick="javascript:history.back(-1); return false">帮助中心</a> / 新增问题</div>
            <div class="columns columns-left btn-group pull-right">
                <button id = myButton type="button" class="btn btn-primary btn-sm margin-left-10" onclick="submitAdvertising()">提交问题
                </button>
            </div>
        </div>
        <div class="clearfix line1px"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>问题内容</label>
                        <input type="text" name="title" id="title"  class="form-control">
                    </div>
                </div>
                <div class="col-xs-6" style="margin-top: 30px;">
                    <div class="form-group">
                        <label>问题类型</label>
                        <select id="name" name="name" data-toggle="select"
                                class="form-control select select-default select-sm" style="width: 450px;">
                            <option value="">请选择问题</option>
                            <!--<option value="1">账号问题</option>
                           <option value="2">找车问题</option>
                           <option value="3">发货问题</option>
                           <option value="4">钱包问题</option>-->
                        </select>
                       <!-- <label for="fileId1">上传图片</label>
                        <div class="input-group" style="margin-left: 600px; margin-top: -30px;">
                            <input id="fileId1" type="file" onchange="readFile(this,'icon','fileImageId1')">
                            <img id="fileImageId1" src="" required width="56" height="56"  style="margin-top: 10px;margin-left: 10px!important;"
                                 class="topjet-img-size"/>
                        </div>-->
                        <div class="col-xs-6" style="margin-left: 555px; margin-top: -30px;">
                            <div class="form-group">
                                <label style="margin-left: -45px;">常见问题</label>
                                <select id="sortNo" name="sortNo" data-toggle="select" style="width: 450px;margin-top: -35px;margin-left: 10px;"
                                        class="form-control select select-default select-sm select2-offscreen" tabindex="-1"
                                        title="">
                                    <option value="1">已开启</option>
                                    <option value="0">已关闭</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-3">
                    <iframe id="ifr" name="myframe" width="320px" height="568px" frameborder="0" src="./iphone.html"></iframe>
                </div>
                <!--style给定宽度可以影响编辑器的最终宽度-->
                <div class="col-xs-9">
                    <script type="text/plain" id="content" style="width:1000px;height:508px;"></script>
                    <div id="btns">
                        <button class="btn" id='btn'>预览</button>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    var param = window.location.search;
    var version = param.split("=")[1];
    $(function () {
        if (typeof FileReader === 'undefined') {
            bootbox.alert({
                size: 'small',
                message: "浏览器不支持图片预览，请更换浏览器!",
            });
        }
    });

    //页面加载的时候 获取版本号 显示所属问题类型
    $(document).ready(function(){
       if(version == 1){//发货版
           $("#name").append("<option value='1'>账号问题</option>" +
                              "<option value='2'>找车问题</option>" +
                              "<option value='3'>发货问题</option>" +
                              "<option value='4'>钱包问题</option>");
       }
        if(version == 2){//接货版
            $("#name").append("<option value='1'>账号问题</option>" +
                               "<option value='2'>找货问题</option>" +
                               "<option value='3'>承运问题</option>" +
                               "<option value='4'>钱包问题</option>");
        }
    });

    function readFile(str, fileIds, fileImageId) {
        var file = str.files[0];
        if (!/image\/\w+/.test(file.type)) {
            bootbox.alert({
                size: 'small',
                message: "只能上传图片，请从新上传!",
            });
            return false;
        }
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            var imge = e.target.result;
            $('#' + fileIds).val(imge);
            $("#" + fileImageId).attr("src", this.result);

        };
    };


    function submitAdvertising() {
//        validDate();
        var bt = $('#myButton').button('loading');
        if (!$.topjectIsValidate('myForm')) {
            bt.button('reset');
            return;
        }
        if($("#title").val() == ""){
            bootbox.alert({
                size: 'small',
                message: "请填写问题内容!"
            });
            bt.button('reset');
            return;
        }
        if($("#name").val() == ""){
            bootbox.alert({
                size: 'small',
                message: "请选择问题类型!"
            });
            bt.button('reset');
            return;
        }
        var text =UM.getEditor("content").getContent();
        var filter = function(str){// 特殊字符转义
            str += ''; // 隐式转换
            str = str.replace(/%/g, '%25');
            str = str.replace(/\+/g, '%2B');
            str = str.replace(/ /g, '%20');
            str = str.replace(/\//g, '%2F');
            str = str.replace(/\?/g, '%3F');
            str = str.replace(/&/g, '%26');
            str = str.replace(/=/g, '%3D');
            str = str.replace(/#/g, '%23');
            return str;
        }
        if(text == ""){
            bootbox.alert({
                size: 'small',
                message: "您还没有为问题填写答案!"
            });
            bt.button('reset');
            return;
        }
        var htmlText = UM.getEditor('content').getAllHtml();
        var json = {
            'version': version,
            'name':$("#name").val(),
            'title': $("#title").val(),
            'sortNo':$("#sortNo").val(),
            'content': text
        }
        var data = filter(JSON.stringify(json));
        data = JSON.parse(data)
        var url = getRootPath() + '/helpCenter/addQuestion.do';
        window.parent.$.ajaxDefaultCall(url, data, function () {
            window.history.back();
        });
    }
    var um = UM.getEditor('content');
    var html = '';
    var ifr = document.getElementById('ifr');
    document.getElementById('btn').onclick = function () {
        var arr = [];
        arr.push(UM.getEditor('content').getContent());
        html = arr.join("\n");
        ifr.contentWindow.document.getElementById('uu').innerHTML = html
    };
    $(function () {
        $.topjectValidate('myForm');
    })

</script>

</body>
</html>
