<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>交运配货网-后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../bootstrap/css/bootstrap-table.min.css" rel="stylesheet"/>
    <link href="../../css/flat-ui.min.css" rel="stylesheet"/>
    <link href="../../css/easyui.css" rel="stylesheet"/>
    <link href="../../css/demo.css" rel="stylesheet"/>
    <link href="../../css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../../css/jquery.mCustomScrollbar.css" rel="stylesheet"/>
    <link href="../../css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <link href="../../less/modules/buttons.less" rel="stylesheet"/>
</head>
<div class="contentBox" style="padding:10px">
    <div class="fixed-table-toolbar"></div>
    <div class="container">
        <div class="row margin-top-15">
            <div class="col-xs-6"><a href="../truckManage/truckTypeList.html?type=1"
                                     class="btn btn-block btn-lg btn-info btn-sm">车型配置</a></div>
            <div class="col-xs-6"><a href="../truckManage/truckLengthList.html?type=2"
                                     class="btn btn-block btn-lg btn-info btn-sm">车长配置</a></div>
        </div>
    </div>
</div>
</html>