<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>交运配货</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../../resource/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="../../css/demo.css">
    <link rel="stylesheet/less" type="text/css" href="../../less/modules/buttons.less">

    <script type="text/javascript" src="../../js/common/modal.js"></script>
    <script type="text/javascript" src="../../js/common/utils.js"></script>
    <script type="text/javascript" src="../../js/common/ajaxCall.js"></script>
    <script type="text/javascript" src="../../js/common/dateformate.js"></script>

    <script type="text/javascript" src="../../resource/bootstrap-table.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../../js/bootbox.min.js"></script>
</head>
<body onresize="auto()">
<div class="contentBox" style="padding:10px">

    <div class="fixed-table-toolbar">
        <div class="eachBox">
            <ul>
                <div id="depart">
                    <li>
                        <label>客服：</label>
                        <select id="createByName" name="createByName">
                            <option value="">请选择</option>
                        </select>
                    </li>

                    <li>
                        <label for="beginDate">开始时间：</label>
                        <input type="date"
                               name="beginDate"
                               id="beginDate" placeholder="选择开始时间">
                    </li>
                    <li>
                        <label for="endDate">截至时间：</label>
                        <input type="date" name="endDate"
                               id="endDate" placeholder="选择结束时间">
                    </li>
                </div>
            </ul>
            <div class="clearfix "></div>
        </div>
        <div class="columns columns-left btn-group pull-right">
            <button type="button" onclick="tableQuery()" class="btn btn-info btn-sm">查询</button>
        </div>
    </div>
</div>
<table id='table' class="table table-striped table-bordered table-hover table-condensed"></table>
</div>
<script>
    var sysUserJson = [];
    var sysUserOption ="";
    $(function () {
        $.ajax({
            type:"POST",
            contentType: "application/x-www-form-urlencoded;charset=utf-8",
            url:getRootPath()+'/commonAction/getSysUser.do',
            data:[],
            dataType:"json",
            cache:false,
            traditional:true,
            success:function(list){
                debugger;
                if(list != null && list.length>0){
                    $.each(list[0],function (index,data2) {
                        sysUserJson.push({'id':data2.sysUserId,'name':data2.name});
                    });
                    $.each(sysUserJson,function (indx,length1) {
                        if(list[1] == length1['id']){
                            sysUserOption+="<option  selected value='"+length1['id']+"'>"+length1['name']+"</option>";
                        }else{
                            sysUserOption+="<option value='"+length1['id']+"'>"+length1['name']+"</option>";
                        }
                    });
                }
                $('#createByName').append(sysUserOption);
                getLsit();
            }
        });
    })
</script>
<script type="text/javascript">
   function getLsit () {
        var columns = [
            {
                field: 'customerName',
                align: 'center',
                title: '客服姓名',
                sortable: true
            },{
                field: 'memberAuditCount',
                align: 'center',
                title: '实名认证数量(审核成功数量)',
                sortable: true,
                formatter: function (value, row, index) {
                    return value+"  ("+row.memberSuccessCount+")";
                }
            },{
                field: 'idAuditCount',
                align: 'center',
                title: '身份认证数量(审核成功数量)',
                sortable: true,
                formatter: function (value, row, index) {
                return value+"  ("+row.idSuccessCount+")";
            }
            },{
                field: 'truckAuditCount',
                title: '车辆认证数量(审核成功数量)',
                align: 'center',
                sortable: true,
                formatter: function (value, row, index) {
                    return value + "  (" + row.truckSuccessCount + ")";
                }
            },{
                field: 'headAuditCount',
                title: '头像认证数量(审核成功数量)',
                align: 'center',
                sortable: true,
                formatter: function (value, row, index) {
                    return value+"  ("+row.headSuccessCount+")";
                }
            },
        ];

        $("#beginDate").val(getDate7());
        var listUrl = getRootPath() + '/customer/list.do';
        setTableInfo('table', columns, listUrl, getQueryParams, 'toolbar');
    };

    function getQueryParams() {
        var  selectText = $("#createByName").find("option:selected").text();
        if(selectText=="请选择"){
            selectText="";
        }
        var json = {
            'originCallNo': $('#originCallNo').val(),
            'customerName':selectText ,
            'start': $('#beginDate').val(),
            'end': $('#endDate').val(),
        };
        return json;
    };
</script>
</body>
</html>