<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>交运配货</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/flat-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/demo.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/easyui.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/font-awesome.min.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/bootstrap-datetimepicker.css">
    <style>
        #editIframeId{height:500px !important;}
    </style>
    <script type="text/javascript" src="../../resource/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../js/common/modal.js"></script>
    <script type="text/javascript" src="../../js/common/utils.js"></script>
    <script type="text/javascript" src="../../js/common/ajaxCall.js"></script>
    <script type="text/javascript" src="../../js/common/dateformate.js"></script>
    <script type="text/javascript" src="../../js/common/dateformate.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap-table.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../../js/bootbox.min.js"></script>
    <script type="text/javascript" src="../../js/application.js"></script>
    <script type="text/javascript" src="../../js/flat-ui.min.js"></script>
    <script type="text/javascript" src="../../js/common/jquery.cityselect.js"></script>
</head>
<body onresize="auto()">
<div class="contentBox" style="padding:10px">
    <div class="fixed-table-toolbar">
        <div class="navmenu" id="navTitle"><a href="queryIndex.html" >定时活动管理</a> / IOS发货版</div>
        <input id="appType" type="hidden"  value="">
        <div class="columns columns-left btn-group pull-right">
            <button type="button" class="btn btn-info btn-sm"  onclick="add()" data-backdrop="false">添加定时活动</button>
        </div>
    </div>
    <table id='table' class="table table-striped table-bordered table-hover table-condensed"></table>
</div>
<div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div id='modalEdit' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden="true">
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class='modal-title' id='myModalLabel'>编辑</h4>
                <div class='modal-body'>
                    <iframe id='editIframeId' scrolling='yes' onLoad='setIframeSizeMax()' frameborder='0' src='' ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#resident1").citySelect({
            prov: '0',
            city: ''
        });

        $("#resident2").citySelect({
            prov: '0',
            city: ''
        });

        var columns = [
            /*{
                field: 'showPage',
                align: 'center',
                title: '活动页面',
                formatter: function (value, row, index) {
                    if (value =="") {
                        return "<font style='color:#292bff'>还未添加活动页面</font>";
                    }else{
                        return"<div display>"+value+"</div>";
                    }
                }
            }, */{
                field: 'city',
                title: '活动城市',
                align: 'center',
                formatter: function (value, row, index) {
                    if (value =="") {
                        return "<font style='color:#292bff'>还未添加活动城市</font>";
                    }else{
                        return"<div display>"+value+"</div>";
                    }
                }
            },{
                field: 'beginDate',
                title: '开始时间',
                align: 'center',
                formatter: function (value, row, index) {
                    return formatViewDate(new Date(value), "yyyy-MM-dd HH:mm");
                }
            },
            {
                field: 'endDate',
                title: '结束时间',
                align: 'center',
                formatter: function (value, row, index) {
                    return formatViewDate(new Date(value), "yyyy-MM-dd HH:mm");
                }
            },{
                field: 'title',
                title: '活动标题',
                align: 'center'
            }, {
                field: 'pictureUrl',
                title: '活动图标',
                align: 'center',
                formatter: function (value, row, index) {
                    if (value == null || value.substring(0, 4) != "http") {
                        return "<font style='color:#292bff'>图片不存在或无效</font>";
                    }
                    var s = '<img  alt="图片库不存在此图片，请重新上传图片" style="width: 200px;height: 80px;"  src=' + value + ' />';
                    return s;
                }
            }/*,
            {
                field: 'iconBenginDate',
                title: '图标开启时间',
                align: 'center',
                formatter: function (value, row, index) {
                    return formatViewDate(new Date(value), "yyyy-MM-dd HH:mm");
                }
            },
            {
                field: 'iconEndDate',
                title: '图标关闭时间',
                align: 'center',
                formatter: function (value, row, index) {
                    return formatViewDate(new Date(value), "yyyy-MM-dd HH:mm");
                }
            }*/,
            {
                field: 'redirectURL',
                title: '活动链接',
                align: 'center',
                formatter: function (value, row, index) {
                    if (value.length >= 20) {
                        var a = value.substring(0, 18) + "......";
                        var s = '<a style="cursor: pointer" title="'+value+'" data-parent="#accordion" >' + a + '</a>';
                        return s;
                    } else {
                        return value
                    }
                }
            },
            {
                field: 'action',
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    var s =[
                        '<button type="button" class="btn btn-primary btn-xs" onclick="edit(' + row.id + ')" >修改</button>',
                        '<button type="button" class="btn btn-danger  btn-xs" onclick="removeAdv('+row.id+')">刪除</button>',
                        /*'<button type="button" class="btn btn-primary btn-xs"  onclick="udpateShowPage('+row.id+')">管理活动页面</button>',*/
                        '<button type="button" class="btn btn-primary btn-xs" onclick="updateCity('+row.id+')">管理活动地区</button>'].join(' ');
                    return s;
                }
            },
        ];
        var url = getRootPath() + '/regularActivity/listRegularActivity.do';
        setTableInfo('table', columns, url, getQueryParams, 'toolbar');
    });
    function getQueryParams() {
        if($('#appType').val()=="")
        {
            var navText="<a href=\"queryIndex.html\" >定时活动管理</a> /";
            switch (location.search){
                case"?appType=4":
                    $('#appType').val("4");
                    navText=navText+"IOS发货版";
                    break;
                case"?appType=3":
                    $('#appType').val("3");
                    navText=navText+"IOS接货版";
                    break;
                case"?appType=2":
                    $('#appType').val("2");
                    navText=navText+"Android发货版";
                    break;
                case"?appType=1":
                    $('#appType').val("1");
                    navText=navText+"Android接货版";
                    break;
            }
            $('#navTitle').html(navText);
        }
        var json = {
            'appType': $('#appType').val()
        };
        return json;
    };

    var apptype=$("#appType").val();

    if(apptype != ""){
        var navText="<a href=\"queryIndex.html\">定时活动管理</a> /";
        if(apptype==4){
            navText=navText+"IOS发货版";
        }else if(apptype==3){
            navText=navText+"IOS接货版";
        }else if(apptype==2){
            navText=navText+"Android发货版";
        }else if(apptype==1){
            navText=navText+"Android接货版";
        }
        $('#navTitle').html(navText);
    }

    function add(appType) {
//        window.location.href = getRootPath()+'/view/regularActivities/addRegularactivities.html?appType=' + $('#appType').val();
        var url = getRootPath()+'/view/regularActivities/addRegularactivities.html?appType=' + $('#appType').val();
        modalEdit(url,'添加活动','lg');
    }

    function edit(id) {
//        window.location.href = getRootPath() + '/regularActivities/queryRegularActivitiesInfoById.do?id=' + id;
        var url = getRootPath()+'/regularActivity/queryActivityDetail.do?id=' + id;
        modalEdit(url,'修改活动','lg');
    }

    function removeAdv(id) {
        bootbox.confirm("确认删除?", function (result) {
            if (result) {
                var url = getRootPath() + '/regularActivity/updateRegularActivityDeletByid.do';
                var data = {'id': id};
                $.ajaxDefaultCall(url, data,function(){tableRefresh();});
            }
        });
    }

    //管理活动页面
    function udpateShowPage(id){
//        window.location.href = "addCity.html?id="+id;
        var url = getRootPath()+'/view/regularActivities/updateShowpage.html?tid='+id+"&appType="+$('#appType').val();
        modalEdit(url,'管理活动页面','lg');
    }

    /* 管理城市 */
    function updateCity(id){

        var url = getRootPath()+'/view/regularActivities/updateCity.html?tid='+id;
        modalEdit(url,'管理活动城市','lg');
    }




    function addBroker(){
        var url = getRootPath()+'/view/regularActivities/addRegularactivities.html?appType=' + $('#appType').val();
        modalEdit(url,'添加活动','lg');
        //     window.open(url);
    }



</script>
</body>
</html>