<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>交运配货</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../../resource/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="../../css/demo.css">
    <link rel="stylesheet/less" type="text/css" href="../../less/modules/buttons.less">

    <script type="text/javascript" src="../../js/common/modal.js"></script>
    <script type="text/javascript" src="../../js/common/utils.js"></script>
    <script type="text/javascript" src="../../js/common/ajaxCall.js"></script>
    <script type="text/javascript" src="../../js/common/dateformate.js"></script>

    <script type="text/javascript" src="../../resource/bootstrap-table.js"></script>
    <script type="text/javascript" src="../../resource/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../../js/bootbox.min.js"></script>
    <script type="text/javascript" src="../../js/common/jquery.cityselect.js"></script>
</head>
<body onresize="auto()">
<div class="contentBox" style="padding:10px">
    <div class="fixed-table-toolbar" >
        <div class="navmenu" id="navTitle"><a href="#" onclick="javascript:history.back(-1); return false">广告管理</a> / IOS发货版</div>
        <input id="appType" type="hidden"  value="">
        <div class="columns columns-left btn-group pull-right">
            <button type="button" onclick="tableQuery()" class="btn btn-info btn-sm" >查询</button>
        </div>
        <div class="columns columns-left btn-group pull-right">
            <button type="button" class="btn btn-primary btn-sm margin-left-10" onclick="add()">添加广告</button>
        </div>
    </div>
</div>
<table id='table' ></table>
<script type="text/javascript">

    $(function () {
        var columns = [
           {
                field: 'indexNumber',
                align: 'center',
                title: '广告位置',
            }, {
                field: 'beginDate',
                title: '开始时间',
                align: 'center',
                formatter: function (value, row, index) {
                    return formatViewDate(new Date(value), "yyyy-MM-dd HH:mm");
                }
            },
            {
                field: 'endDate',
                title: '结束时间',
                align: 'center',
                formatter: function (value, row, index) {
                    return formatViewDate(new Date(value), "yyyy-MM-dd HH:mm");
                }
            },
            {
                field: 'pictureUrl',
                title: '图片',
                align: 'center',
                formatter: function (value, row, index) {
                    if (value == null || value.substring(0, 4) != "http") {
                        return "<font style='color:#292bff'>图片不存在或无效</font>";
                    }
                    var s = '<img  alt="图片库不存在此图片，请重新上传图片" style="width: 200px;height: 80px;"  src=' + value + ' />';
                    return s;
                }
            }, {
                field: 'turnURL',
                title: '链接',
                align: 'center',
                formatter: function (value, row, index) {
                    if (value.length >= 20) {
                        var a = value.substring(0, 18) + "......";
                        var s = '<a style="cursor: pointer" title="'+value+'" data-parent="#accordion" >' + a + '</a>';
                        return s;
                    } else {
                        return value
                    }
                }
            },{
                field: 'valid',
                title: '状态',
                align: 'center',
                formatter: function (value, row, index) {
                    if (value == 1) {
                        if(new Date(row.beginDate).getTime()<new Date().getTime() && new Date(row.endDate).getTime()>new Date().getTime()){
                            return "开启";
                        }else{
                            return "过期或时间未到";
                        }
                    } else {
                        return '关闭';
                    }
                }
            },
            {
                field: 'action',
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    var s =['<button type="button" class="btn btn-primary btn-xs" onclick="edit(' + row.id + ')" >修改</button>',
                            '<button type="button" class="btn btn-danger  btn-xs" onclick="removeAdv('+row.id+','+index+')">刪除</button>'].join(' ');
                    return s;
                }
            },
        ];
        var url = getRootPath() + '/orderListAdvertAction/list.do';
        setTableInfo('table', columns, url, getQueryParams, 'toolbar');
    });

    function getQueryParams() {
        if($('#appType').val()=="")
        {
          var navText="<a href=\"#\" onclick=\"javascript:history.back(-1); return false\">广告管理</a> /";
            switch (location.search){
                case"?appType=3":
                    $('#appType').val("3");
                    navText=navText+"IOS接货版";
                    break;
                case"?appType=1":
                    $('#appType').val("1");
                    navText=navText+"Android接货版";
                    break;
            }
            $('#navTitle').html(navText);
        }
        var json = {
            'appType': $('#appType').val()
        };
        return json;
    };

    function add(appType) {
        window.location.href = getRootPath()+'/view/orderListAdvert/advertisingAdd.html?appType=' + $('#appType').val();
    }
    function edit(id) {
        window.location.href = getRootPath() + '/orderListAdvertAction/advertisingDetail.do?id=' + id;
    };
    function removeAdv(id,index) {
        bootbox.confirm("确认删除?", function (result) {
            if (result) {
                var url = getRootPath() + '/orderListAdvertAction/removeAdv.do';
                var data = {'id': id};
                $.ajaxDefaultCall(url, data,function(){
                    tableRefresh();
                    if(index==0){
                        window.location.href = getRootPath()+'/view/orderListAdvert/list.html?appType='+ $('#appType').val();
                    }
                });
            }
        });
    };
    var apptype=$("#appType").val();
    if(apptype != ""){
        var navText="<a href=\"#\" onclick=\"javascript:history.back(-1); return false\">广告管理</a> /";
        if(apptype==3){
            navText=navText+"IOS接货版";
        }else if(apptype==1){
            navText=navText+"Android接货版";
        }
        $('#navTitle').html(navText);
    }


</script>
</body>
</html>